{
  id: 236455,
  email: 'xxxx',
  token: 'xxxxxx',
  company_id: 2672,
  event_id: 104,
  speaker_id: 0,
  group_id: 23,
  organizer_id: 5,
  parent_id: 0,
  important: 0,
  lang: 'de',
  confirmed: 1,
  createdon: '2024-09-27 15:16:45',
  scannedon: 0,
  unsubscribed: 0,
  fields: {
    url: 'https://ecommerceberlin.com/transaction',
    locale: 'de',
    fname: 'xxxx',
    lname: 'xxxx',
    nip: 'xxxxx',
    company_address: 'xxxx',
    cname: 'Factfinder',
    phone: '+49xxxxx532',
    accept: '1',
    cname2: '',
    industry: '0',
    booth: '',
    account: '0'
  },
  roles: [ 'exhibitor', 'service_internal' ],
  code: 'xxxxxxx'
}